# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Root & plots files
*.root
*.eps
*.png
plots/

# Log files
*.log

# Non versionned folders and links
microTupling/
WTagTMVATraining/weights_*
WTagTMVATraining/trainMVA_AdaBoost
WTagTMVATraining/trainMVA_GradBoost
oldFiles/
sonicScrewdriver
babyTupling/proofBox

# Executables
babyExtender/babyExtender
babyReader/babyReader
babyReader/compile
babyReader/validation
babyTupling/ProofLauncher
babySkimmer/babySkimmer
stopBabiesToMicroTuples/stopBabiesToMicroTuples
*/Plotting
*/Table
testSelection/testSelection
babyFilter/babyFilter
cutAndCount_T2tt/optimizeCuts

# Various crap
*.d
.list*
*/backup*
stopBabiesToMicroTuples/dump.dat
synchronization/synchroBabyTuples
synchronization/synchroDump
synchronization/tmp
babyFilter/list
babyValidation/Validation_signal











