# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Root & plots files
*.root
*.eps
*.png

# Various stuff not needed to be versionned
.list*
store/
plots/
microTupling/
WTagTMVATraining/weights_*
