[submodule "common"]
	path = common
	url = https://github.com/ttbarMET-at-IPHC/Stops-AN-14-067.git

[submodule "sonicScrewdriver"]
	path = sonicScrewdriver
	url = https://github.com/alexAubin/sonicScrewdriver.git
