# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Root & plots files
*.root
*.eps
*.png

# Various stuff not needed to be versionned
*.d
.list*
plots/
microTupling/
WTagTMVATraining/weights_*
oldFiles/

*/Plotting
*/backup*
WTagTMVATraining/trainMVA_AdaBoost
WTagTMVATraining/trainMVA_GradBoost
babyExtender/babyExtender
babyReader/babyReader
babyReader/compile
babyReader/validation
babyTupling/ProofLauncher
babyTupling/proofBox
babySkimmer/babySkimmer
cutAndCount/test
sonicScrewdriver
sonicScrewdriver_old
stopBabiesToMicroTuples/dump.dat
stopBabiesToMicroTuples/stopBabiesToMicroTuples
synchronization/synchroBabyTuples
synchronization/synchroDump
synchronization/tmp
testSelection/testSelection
